
/* MAIN */

main {
    display: flex;
    flex-direction: column;
}

main section .products,
main section .main {
    display: flex;
    flex-wrap: wrap;
}

main section .main {
    flex-direction: row;
}

.products {
    padding: 5px 15px;
}

main section article {
    width: 100%;
    padding: 20px;
    background-color: #f3f3f3;
    border-radius: 6px;
}

main section article a {
    color: rgb(35, 141, 3);
    font-style: normal;
    font-size: 14px;
    text-align: right;
}

main section article img {
    border-radius: 6px;
}

.texto {
    color: #666;
}

.menu {
    display: none;
}

.precios {
    font-size: 12px;
}

.presentaciones {
    font-size: 12px;
    color: rgb(107, 107, 107);
}

@media (min-width: 586px) {
    main section article {
        width: 50%;
    }
}

@media (min-width: 768px) {

    main section article {
        width: 33%;
    }

    .menu {
        display: flex;
        flex-direction: column;
        color: black;
        font-size: 14px;
        background-color: #f3f3f3;
        width: 25%;
        margin: 5px 15px;
        border-radius: 6px;
        height: 150px;
    }

    .menu a {
        color: black;
    font-style: normal;
    font-size: 12px;
    line-height: 24px;
    }

    .menu p {
        font-weight: 500;
        margin-bottom: 10px;
        margin-top: 20px;
        padding-left: 5px;
    }

    .menu ul {
        list-style: none;
        padding-left: 10px;
    }

    .descripciones {
        font-size: 13px;
    }

    .main {
        display: flex;
       flex-wrap: nowrap;
       flex-direction: row;
    }
    
    main section .products {
        width: 75%;
    }

    
}