* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

/* HEADER */

header {
    display: flex;
    background-color: #9DB88a;
    flex-direction: column;   
}

.main-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

.navbar-1 {
    display: none;  /*La navbar-1 aparece en viewports de mayor tamano*/
}

.navbar-2,
.navbar-1 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-2 {
    text-align: right;
}

.navbar-2 a {
    color: white;
    font-style: normal;
    font-size: 12px;
}

.banner {
    display: none;  /*El banner aparece en viewports de mayor tamano*/
}
/*
 **********************LOGIN********************************
 */
 .form {
     display: flex;
     flex-wrap: nowrap;
     flex-direction: column;
     font-size: 1.25em;
     max-width: 25%;
     align-items: center;
     align-self: center;
    
 }
 .form-email, .form-password{
    display: flex;
    max-width: 400px;
    align-items: center;
    margin-bottom: 5px;
    
 }
main{
     display: flex;
     flex-direction: column;
     margin-left: 15px;
     margin-right: 15px
    }
    
 /* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

footer nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #9DB88a;
}

footer nav .contacto {
    color: #fff;
}

footer nav .rrss {
    color: #fff;
}

footer nav a {
    color: white;
    font-style: normal;
    font-size: 12px;
}

footer .copy {
    color: #000;
    font-size: 10px;
    background-color: white;
    text-align: center;
    padding-top: 10px;
    color: #666;
}


footer .desarrolladores {
    background-color: #fff;
    font-size: 8px;
    text-align: center;
    padding-top: 30px;
    color: #ebebeb
}
/* MEDIA QUERIE PARA TABLET */

@media (min-width: 768px) {

    /* HEADER */
    .navbar-1 {
        display: flex;
        justify-content: space-between;
    }

    .navbar-1 li {
        display: inline;
        padding: 30px;
    }

    .navbar-1 a {
        color: #EBEBEB;
        font-style: normal;
        font-size: 16px;
        font-weight: 700;
    }

    .banner {
        display: block;
        width: 100%;
    }
}
    