<!DOCTYPE html>
<html lang="es">

<head>
    
    <%- include('../partials/head') %>

    <link rel="stylesheet" href="design/cart.css">
    
</head>

<body>

    <%- include('../partials/header') %>

    <main>
        <div class="cart">
            <h1>Detalle de compra</h1>
            <ul>
                <li>
                    <img src="../../public/images/pasas-rubias-600.jpg" alt="pasas-rubias-600" style="width:100%">
                    <h2>Descripcion</h2>
                    <p class="price">$19.99</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisic</p>
                    <p><button>Agregar al carrito</button></p>
                </li>
            </ul>
            <br>
        </div>
        <div class="cart">
            <h2>Subtotal</h2> <label for="importe"></label>
            <label>Envio</label> <input type="checkbox" name='envio'>
            <p><button>Finalizar Compra</button></p>
        </div>
    </main>

    <%- include('../partials/footer') %>

</body>
</html>