<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="container">
            <section>
                <div class="">
                    <form action="" method="POST" enctype="multipart/form-data">
                        <label>Id</label>
                        <input type="text" name="id">
                        <label>Imagen</label>
                        <input type="file" name="productImage"> 
                        <label>Nombre</label>
                        <input type="text" name="name"> 
                        <label>Precio por 250g</label>
                        <input type="text" name="price250">
                        <label>Precio por 500g</label>
                        <input type="text" name="price500"> 
                        <label>Precio por kilogramo</label>
                        <input type="text" name="price1">
                        <button type="submit">Ingresar el producto</button>
                    </form>
                </div>
            </section>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>