<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="design/normalize.css">
    <link rel="stylesheet" href="design/index.css">
    <link rel="stylesheet" href="design/home.css">
    <script src="https://kit.fontawesome.com/7fb4406744.js" crossorigin="anonymous"></script>
    <title>Andesnut</title>
    <STYLE>A {text-decoration: none;} </STYLE>
</head>
<body>
    <header>
        <nav class="main-navbar">
            <div class="logo">
                <img src="/images/logoAndesnutFondoCeleste.png" alt="Logo Andesnut">
            </div>

            <nav class="navbar-1">
                <ul>
                    <li>
                        <a href="/home">HOME</a>
                    </li>
                    <li>
                        <a href="/productDetail">PRODUCTOS</a>
                    </li>
                    <li>
                        <a href="/contacto">CONTACTO</a>
                    </li>
                </ul>
            </nav>

            <nav>
                <ul class="navbar-2">
                    <li>
                        <a href="/register">Registrarse <i class="fas fa-id-card"></i></a>
                    </li>
                    <li>
                        <a href="/login">Iniciar Sesion <i class="fas fa-user"></i></a>
                    </li>
                </ul>        
            </nav>
        </nav>
    </header>

    <main>
        
        <nav class="banner">
            <img src="/images/banner.jpg" alt="Imagen-banner-1">
        </nav> 

        <section class="main">
            <nav class="menu">
                <p>Categorias</p>            
                <ul>
                    <li>
                        <a href="/home">Frutos Secos</a>
                    </li>
                    <li>
                        <a href="/productDetail">Frutas Deshidratadas</a>
                    </li>
                    <li>
                        <a href="/contacto">Mixes</a>
                    </li>
                </ul>                
            </nav>

            <section class="products">
                <article>
                    <div><img src="/images/almendras-non-pareil-medianas-australianas-600.jpg" alt="Almendras" width=100%></div>
                    <div class="texto">
                        <a href="#"><i class="fas fa-shopping-basket"></i></a>
                        <p class="descripciones">Almendra Guara</p>
                        <div class="precio-descuento">
                            <p class="precios">$990/Kg</p>
                            <p class="presentaciones">250g / 500g / 1Kg</p>
                        </div>                    
                    </div>
                </article>

                <article>
                    <div><img src="/images/arandanos-rojos-deshidratados-600.jpg" alt="Arandanos" width=100%></div>
                    <div class="texto">
                        <a href="#"><i class="fas fa-shopping-basket"></i></a>
                        <p class="descripciones">Arandanos Rojos Deshidratados</p>
                        <div class="precio-descuento">
                            <p class="precios">$860/Kg</p>
                            <p class="presentaciones">250g / 500g / 1Kg</p>
                        </div>                    
                    </div>
                </article>

                <article>
                    <div><img src="/images/avellanas-medianas-600.jpg" alt="Avellanas" width=100%></div>
                    <div class="texto">
                        <a href="#"><i class="fas fa-shopping-basket"></i></a>
                        <p class="descripciones">Avellanas enteras</p>
                        <div class="precio-descuento">
                            <p class="precios">$1530/Kg</p>
                            <p class="presentaciones">250g / 500g / 1Kg</p>
                        </div>                    
                    </div>
                </article>

                <article>
                    <div><img src="/images/castanas-de-caju-600.jpg" alt="Castanas" width=100%></div>
                    <div class="texto">
                        <a href="#"><i class="fas fa-shopping-basket"></i></a>
                        <p class="descripciones">Castanas de Caju</p>
                        <div class="precio-descuento">
                            <p class="precios">$1150/Kg</p>
                            <p class="presentaciones">250g / 500g / 1Kg</p>
                        </div>                    
                    </div>
                </article>

                <article>
                    <div><img src="/images/mix-cervecero-premium-600.jpg" alt="Mix Cervecero" width=100%></div>
                    <div class="texto">
                        <a href="#"><i class="fas fa-shopping-basket"></i></a>
                        <p class="descripciones">Mix Cervecero</p>
                        <div class="precio-descuento">
                            <p class="precios">$640/Kg</p>
                            <p class="presentaciones">250g / 500g / 1Kg</p>
                        </div>
                    </div>
                </article>

                <article>
                    <div><img src="/images/mix-cuyano-600.jpg" alt="Mix Cuyano" width=100%></div>
                    <div class="texto">
                        <a href="#"><i class="fas fa-shopping-basket"></i></a>
                        <p class="descripciones">Mix Cuyano</p>
                        <div class="precio-descuento">
                            <p class="precios">$680/Kg</p>
                            <p class="presentaciones">250g / 500g / 1Kg</p>
                        </div>
                    </div>
                </article>

                <article>
                    <div><img src="/images/mix-pasas-600.jpg" alt="Mix Pasas" width=100%></div>
                    <div class="texto">
                        <a href="#"><i class="fas fa-shopping-basket"></i></a>
                        <p class="descripciones">Mix de Pasas</p>
                        <div class="precio-descuento">
                            <p class="precios">$430/Kg</p>
                            <p class="presentaciones">250g / 500g / 1Kg</p>
                        </div>                    
                    </div>
                </article>

                <article>
                    <div><img src="/images/mix-patagonico-600.jpg" alt="Mix patagonico" width=100%></div>
                    <div class="texto">
                        <a href="#"><i class="fas fa-shopping-basket"></i></a>
                        <p class="descripciones">Mix Patagonico</p>
                        <div class="precio-descuento">
                            <p class="precios">$830/Kg</p>
                            <p class="presentaciones">250g / 500g / 1Kg</p>
                        </div>                    
                    </div>
                </article>

                <article>
                    <div><img src="/images/mix-tropical-600.jpg" alt="Mix Tropical" width=100%></div>
                    <div class="texto">
                        <a href="#"><i class="fas fa-shopping-basket"></i></a>
                        <p class="descripciones">Mix Tropical</p>
                        <div class="precio-descuento">
                            <p class="precios">$700/Kg</p>
                            <p class="presentaciones">250g / 500g / 1Kg</p>
                        </div>                    
                    </div>
                </article>

                <article>
                    <div><img src="/images/nueces-mariposa-extralight-600.jpg" alt="Nueces Chandler" width=100%></div>
                    <div class="texto">
                        <a href="#"><i class="fas fa-shopping-basket"></i></a>
                        <p class="descripciones">Nueces Chandler Extra Light</p>
                        <div class="precio-descuento">
                            <p class="precios">$950/Kg</p>
                            <p class="presentaciones">250g / 500g / 1Kg</p>
                        </div>                    
                    </div>
                </article>

                <article>
                    <div><img src="/images/pasas-negras-flame-600.jpg" alt="Pasas Flame" width=100%></div>
                    <div class="texto">
                        <a href="#"><i class="fas fa-shopping-basket"></i></a>
                        <p class="descripciones">Pasas Negras Flame</p>
                        <div class="precio-descuento">
                            <p class="precios">$250/Kg</p>
                            <p class="presentaciones">250g / 500g / 1Kg</p>
                        </div>                    
                    </div>
                </article>

                <article>
                    <div><img src="/images/pasas-rubias-600.jpg" alt="Pasas Rubias" width=100%></div>
                    <div class="texto">
                        <a href="#"><i class="fas fa-shopping-basket"></i></a>
                        <p class="descripciones">Pasas Rubias</p>
                        <div class="precio-descuento">
                            <p class="precios">$420/Kg</p>
                            <p class="presentaciones">250g / 500g / 1Kg</p>
                        </div>
                    </div>
                </article>
            </section>  
        </section>
    </main>

    
    <footer>
        <nav>
            <div class="contacto">
                <p><a href="">+5492616263040</a></p>
                <p><a href="">andesnut.cuyo@gmail.com</a></p>
            </div>
            <div class="rrss">
                <p><a href="">@andes.nut</a></p>
                <p><a href="">@Andesnut</a></p>
            </div>
        </nav>
        <div class="copy">
            <h3>Copyright © 1999-2021 Andesnut S.R.L.</h3>
        </div>
        <div class="desarrolladores">
            <p>Julian Gayoso - Christian Echazarreta - Cecilia Bourdillon - Federico Segura</p>
        </div>
    </footer>
</body>
</html>