<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="design/normalize.css">
    <link rel="stylesheet" href="design/index.css">
    <script src="https://kit.fontawesome.com/7fb4406744.js" crossorigin="anonymous"></script>
    <title>Andesnut</title>
    <STYLE>A {text-decoration: none;} </STYLE>
</head>

<header>
    <nav class="main-navbar">
        <div class="logo">
            <img src="/design/logo.XXX" alt="Logo Andesnut">
        </div>

        <nav class="navbar-1">
            <ul>
                <li>
                    <a href="/home">Home</a>
                </li>
                <li>
                    <a href="/productDetail">Productos</a>
                </li>
                <li>
                    <a href="/contacto">Contacto</a>
                </li>
            </ul>
        </nav>

        <nav>
            <ul class="navbar-2">
                <li>
                    <a href="/register">Registrarse </a><i class="fas fa-id-card"></i>
                </li>
                <li>
                    <a href="/login">Iniciar Sesion </a><i class="fas fa-user"></i>
                </li>
            </ul>        
        </nav>
    </nav>

    <nav class="banner">
        <img src="" alt="Imagen-banner-1">
    </nav> 
</header>

<body>
    
</body>
<footer>

</footer>
</html>