<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="main-navbar">
            <div class="logo">
                <img src="/design/logo.XXX" alt="Logo Andesnut">
            </div>

            <nav class="navbar-1">
                <ul>
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a href="/productDetail">Productos</a>
                    </li>
                    <li>
                        <a href="/contacto">Contacto</a>
                    </li>
                </ul>
            </nav>

            <nav>
                <ul class="navbar-2">
                    <li>
                        <a href="/register">Registrarse <i class="fas fa-id-card"></i></a>
                    </li>
                    <li>
                        <a href="/login">Iniciar Sesion <i class="fas fa-user"></i></a>
                    </li>
                </ul>        
            </nav>
        </nav>

        <nav class="banner">
            <img src="" alt="Imagen-banner-1">
        </nav> 
    </header>
<form action="post" name="ingreso">
    <label for="Usuario">Usuario</label>
    <input type="text" name="Usuario" id="Usuario">
    <label for="password">Ingrese su contraseña</label>
    <input type="password" name="password" id="password">
    <div>
        <button type="reset">Cancelar
        </button>
        <button type="submit">Ingresar</button>
    </div>
</form>
</body>
</html>