<footer>
    <nav>
        <div class="contacto">
            <p><a href="">+5492616263040</a></p>
            <p><a href="">andesnut.cuyo@gmail.com</a></p>
        </div>
        <div class="rrss">
            <p><a href="">@andes.nut</a></p>
            <p><a href="">@Andesnut</a></p>
        </div>
    </nav>
    <div class="copy">
        <h3>Copyright © 1999-2021 Andesnut S.R.L.</h3>
    </div>
    <div class="desarrolladores">
        <p>Julian Gayoso - Christian Echazarreta - Cecilia Bourdillon - Federico Segura</p>
    </div>
</footer>