<header>
    <nav class="main-navbar">
        <div class="logo">
            <img src="/images/logoAndesnutFondoCeleste.png" alt="Logo Andesnut">
        </div>

        <nav class="navbar-1">
            <ul>
                <li>
                    <a href="/home">HOME</a>
                </li>
                <li>
                    <a href="/productDetail">PRODUCTOS</a>
                </li>
                <li>
                    <a href="/contacto">CONTACTO</a>
                </li>
            </ul>
        </nav>

        <nav>
            <ul class="navbar-2">
                <li>
                    <a href="/register">Registrarse <i class="fas fa-id-card"></i></a>
                </li>
                <li>
                    <a href="/login">Iniciar Sesion <i class="fas fa-user"></i></a>
                </li>
            </ul>        
        </nav>
    </nav>
</header>