<!DOCTYPE html>
<html lang="en">
    
<head>

    <%- include('../partials/head') %>

    <link rel="stylesheet" href="design/login.css">
    
</head>

<body class="body">
    
    <%- include('../partials/header') %>

    <main>
    
        <form>
            <div class="form-email">
                <label for="exampleInputEmail1" class="form-label">Correo electronico</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Ingrese su email.</div>
            </div>
            <div class="form-password">
                <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Ingresar</button>
            <button type="button" class="btn btn-primary">No recuerdo mi contraseña</button>
        </form>
    </main>

    <%- include('../partials/footer') %>

</body>

</html>