<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="design/normalize.css">
    <link rel="stylesheet" href="design/index.css">
    <link rel="stylesheet" href="design/login.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/7fb4406744.js" crossorigin="anonymous"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Andesnut login</title>
    <STYLE>A {text-decoration: none;} </STYLE>
</head>
<body class="body">
    <header>
        <nav class="main-navbar">
            <div class="logo">
                <img src="/images/logoAndesnutFondoCeleste.png" alt="Logo Andesnut">
            </div>

            <nav class="navbar-1">
                <ul>
                    <li>
                        <a href="/home">HOME</a>
                    </li>
                    <li>
                        <a href="/productDetail">PRODUCTOS</a>
                    </li>
                    <li>
                        <a href="/contacto">CONTACTO</a>
                    </li>
                </ul>
            </nav>

            <nav>
                <ul class="navbar-2">
                    <li>
                        <a href="/register">Registrarse <i class="fas fa-id-card"></i></a>
                    </li>
                    <li>
                        <a href="/login">Iniciar Sesion <i class="fas fa-user"></i></a>
                    </li>
                </ul>        
            </nav>
        </nav>
        
    </header>
        <main>
            <div class="container">
                <div class="row">
              
                  <div class="main">
              
                    <h3>Ingresar con</h3>
                    <div class="row">
                      <div class="col-xs-6 col-sm-6 col-md-6">
                        <a href="#" class="btn btn-lg btn-primary btn-block">Facebook</a>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6">
                        <a href="#" class="btn btn-lg btn-info btn-block">Google</a>
                      </div>
                    </div>
                    <div class="login-or">
                      <hr class="hr-or">
                      <span class="span-or">o</span>
                    </div>
              
                    <form role="form">
                      <div class="form-group">
                        <label for="inputUsernameEmail">Ingrese su usuario o su email</label>
                        <input type="text" class="form-control" id="inputUsernameEmail">
                      </div>
                      <div class="form-group">
                        <a class="pull-right" href="#">Olvido su clave?</a>
                        <label for="inputPassword">Password</label>
                        <input type="password" class="form-control" id="Ingrese su clave">
                      </div>
                      <div class="checkbox pull-right">
                        <label>
                          <input type="checkbox">
                          Recordarme </label>
                      </div>
                      <button type="submit" class="btn btn btn-primary">
                        Log In
                      </button>
                    </form>
                  
                  </div>
                  
                </div>
              </div>
            </main>
</form>
<footer>
    <nav>
        <div class="contacto">
            <p><a href="">+5492616263040</a></p>
            <p><a href="">andesnut.cuyo@gmail.com</a></p>
        </div>
        <div class="rrss">
            <p><a href="">@andes.nut</a></p>
            <p><a href="">@Andesnut</a></p>
        </div>
    </nav>
    <div class="copy">
        <h3>Copyright © 1999-2021 Andesnut S.R.L.</h3>
    </div>
    <div class="desarrolladores">
        <p>Julian Gayoso - Christian Echazarreta - Cecilia Bourdillon - Federico Segura</p>
    </div>
</footer>
</body>
</html>